<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.eduapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".OTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MyProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MonthListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AttendanceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LeaveListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LeaveAppDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ApplyLeave"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ExamListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ExamRoutineListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ExamsHeldListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".StudentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ContactUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".NoticeDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".Fees"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".StudentProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".StudentDiaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".StudentDiaryPostList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".DiaryPostDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".PostComments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".Addpost"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".ParentDiaryPost"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name="com.app.eduapp.teacher.TMyProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.eduapp.teacher.TClassListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.eduapp.teacher.TSubjectListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.eduapp.teacher.TDiaryPostList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.eduapp.teacher.TAddpost"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".ResultSubjectListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".EmployeeLeaveListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".LeaveApplicationList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".MyLeaveListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".AllLeaveListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".EventCalender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.eduapp.tattendance.AClassListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name="com.app.eduapp.tattendance.AStudentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.eduapp.tattendance.AMonthListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.eduapp.tattendance.TAttendanceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.app.eduapp.tattendance.TakeAttendanceListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".StudenSectiontListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".RoutineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".NotificationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".TeaRoutineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".RoutineType"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name="com.app.eduapp.gcm.GCMTokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.app.eduapp.gcm.GCMPushReceiverService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.app.eduapp.common.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>
</manifest>